html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --PhoneInputCountryFlag-borderColor: unset;
}
#Started {
  background-image: url("../public/assets/getstartbg.jpeg");
  background-repeat: no-repeat;
  background-position: auto;
  background-size: cover;
}
.swiper-pagination-bullet {
  width: 1.1em !important;
  height: 1.1em !important;
  background: transparent !important;
  border: 2px solid #570777;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #570777 !important;
}
table {
  width: "100%";
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  border: 1px solid black;
  padding: 15px;
  text-align: start;
}
